html {
    height: 100%;
}

body {
    font-family: 'Verdana';
    color: #fff;
    background: #000;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

a {
    color: #fff;
}

.game-canvas {
    display: block;
    margin: 0 auto;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

footer {
    width: 95%;
    margin: 0 2.5%;
}