html {
    height: 100%;
}

body {
    font-family: 'Verdana';
    color: #fff;
    background: #000;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

a {
    color: #fff;
}

.game-canvas {
    display: block;
    margin: 0 auto;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.controls {
    width: 95%;
    margin: 0 2.5%;
}

.description {
    width: 95%;
    margin: 4em 2.5%;
}

.cell-example {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.cell-example-alive {
    background: #008000;
}

.cell-example-popular {
    background: #006040;
}

.cell-example-new {
    background: #0057aa;
}

.cell-example-dying {
    background: #b6542c;
}