html {
    height: 100%;
}

body {
    font-family: 'Verdana';
    color: #fff;
    background: #000;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.game-canvas {
    display: block;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-shadow: 2px 2px 2px #000;
    z-index: 2;
}